h1{
  font-weight: 700;
  font-size: 2rem;
  margin: 10px;
  margin-bottom: 25px;
}

input{
  width: 100%;
}

/* .items-contaniner{
  text-align: left;
} */
.tudo-container{
  max-width: 800px;
  width: 90%;
  margin: 0px auto;
}

.tr-button{
  min-width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tr-row{
  margin: 10px 5px;
}